<!DOCTYPE html>
<html>
	<head>
		<title>chpmnrssll.github.io</title>
		<meta charset='utf-8' />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="chpmnrssll.github.com : Russell Chapman" />
		
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<script type="text/javascript">
			var require = {
				baseUrl: 'js/',
				urlArgs: 'bust=' +  (new Date()).getTime(),
				deps: ['main']
			};
		</script>
		<script src="js/libs/require/require.js"></script>
		<!-- <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
	</head>
	<body>
		<!--
		<script type="text/template" id="user-edit">
			<form class="">
				<legend>Add new</legend>
				<div class="control-group">
					<label class="control-label">Name</label>
					<div class="controls"><input id="name" type="text" required=""></div>
				</div>
				<div class="control-group">
					<label class="control-label">Email</label>
					<div class="controls"><input id="email" type="text" required=""></div>
				</div>
				<div class="control-group">
					<label class="control-label">Password</label>
					<div class="controls"><input id="password" type="password" required=""></div>
				</div>
				<div class="control-group">
					<label class="control-label"></label>
					<div class="controls"><button id="" name="" class="btn btn-primary">Create</button></div>
				</div>
			</form>
		</script>
		
		<script type="text/template" id="user-list">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="user-items"></tbody>
			</table>
		</script>
		
		<script type="text/template" id="user-item">
			<td><a href="#users/edit/<%= _id %>"><%= name %></a></td>
			<td><a href="#users/edit/<%= _id %>"><%= email %></a></td>
			<td><a href="#users/delete/<%= _id %>"><i class="glyphicon glyphicon-remove delete-user"></i></a></td>
		</script>
		-->
	</body>
</html>