<!DOCTYPE html>
<html>
	<head>
		<title>Russell Chapman</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="chpmnrssll.github.com : Russell Chapman" />
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.0/slate/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/YTPlayer.css">
		
		<script type="text/javascript">
			var require = {
				baseUrl: "js/",
				urlArgs: "bust=" +  (new Date()).getTime(),
				deps: ["main"]
			};
		</script>
		<script src="js/libs/require/require.js"></script>
		<!-- <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
	</head>
	<body>
		<div id="header"></div>
		<div id="content"><b style="font-size:40px;color:#eee">Loading</b></div>
		<div id="footer"></div>
		<!--
		<script type="text/template" id="user-edit">
			<form class="">
				<legend>Add new</legend>
				<div class="control-group">
					<label class="control-label">Name</label>
					<div class="controls"><input id="name" type="text" required=""></div>
				</div>
				<div class="control-group">
					<label class="control-label">Email</label>
					<div class="controls"><input id="email" type="text" required=""></div>
				</div>
				<div class="control-group">
					<label class="control-label">Password</label>
					<div class="controls"><input id="password" type="password" required=""></div>
				</div>
				<div class="control-group">
					<label class="control-label"></label>
					<div class="controls"><button id="" name="" class="btn btn-primary">Create</button></div>
				</div>
			</form>
		</script>
		
		<script type="text/template" id="user-list">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="user-items"></tbody>
			</table>
		</script>
		
		<script type="text/template" id="user-item">
			<td><a href="#users/edit/<%= _id %>"><%= name %></a></td>
			<td><a href="#users/edit/<%= _id %>"><%= email %></a></td>
			<td><a href="#users/delete/<%= _id %>"><i class="glyphicon glyphicon-remove delete-user"></i></a></td>
		</script>
		-->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
		<script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
		<script>
			jQuery(function(){
				jQuery(".player").mb_YTPlayer();
			});
		</script>
		<a class="player" data-property="{videoURL:'eV4AyIpnpcI',containment:'body',autoPlay:true, mute:true, startAt:0,opacity:1}">My video</a>
<!--
1QTLmMSI1FQ  UWF7dZTLW4c  O_JGNLm16Ts  uVW81kp2HSo
eV4AyIpnpcI  wOouUV1m5Wo  mrMxq8Yq4Pg  eWRtR3JRgpI
UHHqnbWyXG8  oBDpZqczlxw  M4X25ax9VDk  YnsG8dtOnEA
y0sl4fIxm4E  NG1S38s6btk  BallM-GfQqM  567Wspw-cmU
eoqi1N9YwKE  dzLDQH1-nzg  ZhXsN5hqBNo  8vsVG20VUxQ
CXhas4Ku9V0  HCYhRUV2Dbw  nAkRIHJOzik
6t0YCU3A0wA  hFjOiAkN8ew  S7LpYFhb1JU  3rGyLWlAOIg
hMfZigH7bEU  qhHboVUc9f8
-->
	</body>
</html>
